<div class="page-header">
  <%= link_to power_unit_yellow_alarms_path(@power_unit), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to power_unit_yellow_alarms_path(@power_unit, @yellow_alarm), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing yellow alarm</h1>
</div>

<%= render 'form' %>
