<div class="page-header">
  <%= link_to power_unit_red_alarms_path(@power_unit), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to power_unit_red_alarms_path(@power_unit, @red_alarm), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing Red alarm</h1>
</div>

<%= render 'form' %>
