<div class="page-header">
  <%= link_to power_unit_diesel_informations_path(@power_unit), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to power_unit_diesel_information_path(@power_unit, @diesel_information), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing diesel_information</h1>
</div>

<%= render 'form' %>
