<div class="page-header">
  <%= link_to power_units_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New power_unit</h1>
</div>

<%= render 'form' %>
